.navbar a {
    text-decoration: none !important;
    color: black !important;
}

.navbar {
    padding-left: 32px;
    padding-right: 32px;
    margin-bottom: 20px;
}

.bg-light {
    background-color: #E4E9F7;
}

.navbar button {
    min-width: 120px;
}