* {
    color: #2f1c6a;
}

.App-body {
    height: calc(100vh - 80px);
    margin-top: 20px;
}

a {
    text-decoration: none;
}

.btn {
    background-color: #17a2b8 !important;
    color: #fff !important;
}

